<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин по продаже мороженого</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://mystickermania.com/cdn/stickers/noob-pack/galaxy-ice-cream-512x512.png">
</head>
<body>
    <header>
        <img src="https://mystickermania.com/cdn/stickers/noob-pack/galaxy-ice-cream-512x512.png" alt="logo-icon">
        <nav>
            <ul>
                <a href="/">Магазин</a>
                <a href="/cart">Корзина</a>
                <% if (userPriority === 2) { %>
                    <a href="/admin">Админ-Панель</a>
                <% } %>

                <% if (userPriority === 1  || userPriority === 2) { %>
                    <a href="/logout"><%= userUsername %></a>
                    <%} else {%>
                        <a href="/login">Авторизация</a>
                    <% } %>
                

                <% if (cornerLetter === 'A') { %>
                    <div style="position: fixed; top: 10px; right: 10px; font-size: 24px; color: #fff;">A</div>
                <% } %>
            </ul>
        </nav>
    </header>

    <!-- <div class="info__container"></div> -->
    
    <div class="container">
        <h1>Добро пожаловать в Интернет-магазин по продаже мороженого SpaceCream</h1>
        <h2>Доступные товары:</h2>
        <% if (userPriority === 2) { %>
            <li><a href="/admin/products">Добавить/Удалить</a></li>
        <% } %>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <% if (product.image_url) { %>
                        <img src="<%= product.image_url %>" alt="<%= product.name %>" />
                    <% } %>
                    <h3><%= product.name %></h3>
                    <p><%= product.description %></p>
                    <p>Цена: <%= product.price %> руб.</p>
                    <form action="/cart" method="post">
                        <input type="hidden" name="product_id" value="<%= product.id %>">
                        <input type="number" name="quantity" value="1" min="1">
                        <a href="/product/<%= product.id %>/reviews">Посмотреть отзывы</a>
                        <button type="submit">Добавить в корзину</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </div>
        <footer class="footer">
            <div class="footer-content">
                <p>© 2024 SpaceCream</p>
                <p>Наша компания занимается продажей мороженого.</p>
                <div class="social-links">
                    <a href="#" class="social-link">Telegram</a>
                    <a href="#" class="social-link">VKontakte</a>
                    <a href="/help" class="social-link">Справка</a>
                </div>
            </div>
        </footer>
</body>
</html>